<% @comments.each do |comment| %>
    <div class="comment-email-style">
            <%= comment.user.email %>
    </div>
    <div class="comment-text-style">
            <%= comment.text %>
    </div>
    <br>
<% end %>